@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  background: #ffffff;
}
/* Intro Section */
.intro {
  background: url(../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 525px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0;
  position: relative;
}
.header__menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.header__navigation {
  display: none;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 105px;
  background: #ffffff;
  padding: 35px 0;
}
.header__navigation.open {
  display: block;
}
.header__navigation__triangle {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 25px solid #ffffff;
  border-left: 25px solid transparent;
  position: absolute;
  top: -25px;
  right: 0px;
}
.header__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.header__menu__item {
  margin-bottom: 35px;
}
.header__menu__link {
  text-decoration: none;
  color: hsl(232, 10%, 55%);
}
.header__menu__contact-link {
  background: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
}
.header__title {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-size: 42px;
  letter-spacing: 0.14em;
  margin: 75px 0 50px;
}
.header__arrow {
  text-align: center;
}
/* Transform Section */
.transform__image {
  background: no-repeat url(../images/mobile/image-transform.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.transform__text-block {
  text-align: center;
  padding: 50px 20px;
}
.transform__text-block__title {
  font-family: 'Fraunces', serif;
  font-size: 30px;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  margin: 25px 0;
}
.transform__text-block__text {
  color: hsl(232, 10%, 55%);
  line-height: 1.5;
  margin: 20px 0;
}
.transform__text-block__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 16px;
  color: hsl(212, 27%, 19%);
}
.line {
  z-index: -1;
  position: absolute;
  bottom: -3px;
  left: -10px;
  display: inline-block;
  height: 10px;
  width: 135px;
  background-color: hsl(51, 100%, 82%);
  border-radius: 10px;
}
.transform__text-block__link:hover .line {
  background-color: hsl(51, 100%, 49%);
}
/* Gallery Section */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(187px, 1fr));
}
.gallery__first-image {
  background: no-repeat url(../images/mobile/image-gallery-milkbottles.jpg);
}
.gallery__second-image {
  background: no-repeat url(../images/mobile/image-gallery-orange.jpg);
}
.gallery__third-image {
  background: no-repeat url(../images/mobile/image-gallery-cone.jpg);
}
.gallery__fourth-image {
  background: no-repeat url(../images/mobile/image-gallery-sugar-cubes.jpg);
}
.gallery__image {
  background-size: cover;
  background-position: center;
  height: 187px;
}
/* Footer Section */
.footer {
  text-align: center;
  padding: 75px 30px;
  background: rgb(135, 201, 189);
}
.footer__logo {
  width: 50%;
  margin: auto;
}
.footer__logo img {
  width: 100%;
}
.footer__menu {
  margin: 40px 0 80px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer__menu__link {
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}
.footer__socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer__socials__item {
  margin: 0 15px 0;
}
/* Attribution section */
.attribution {
  margin-top: 25px;
  font-size: 11px;
  text-align: center;
  color: hsl(168, 34%, 41%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
