@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  background: #ffffff;
}
/* Intro Section */
.intro {
  background: url(../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 525px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0;
  position: relative;
}
.header__menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.header__navigation {
  display: none;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 105px;
  background: #ffffff;
  padding: 35px 0;
}
.header__navigation.open {
  display: block;
}
.header__navigation__triangle {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 25px solid #ffffff;
  border-left: 25px solid transparent;
  position: absolute;
  top: -25px;
  right: 0px;
}
.header__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.header__menu__item {
  margin-bottom: 35px;
}
.header__menu__link {
  text-decoration: none;
  color: hsl(232, 10%, 55%);
}
.header__menu__contact-link {
  background: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
}
.header__menu__contact-link:hover,
.header__menu__contact-link:focus {
  background: rgb(111, 207, 255);
  color: #ffffff;
}
.header__title {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-size: 42px;
  letter-spacing: 0.14em;
  margin: 75px 0 50px;
}
.header__arrow {
  text-align: center;
}
/* Transform Section */
.transform__image {
  background: no-repeat url(../images/mobile/image-transform.jpg);
}
.transform__text-block__title {
  color: hsl(212, 27%, 19%);
}
.transform__text-block__line {
  background-color: hsl(51, 93%, 89%);
}

.transform__text-block__link:hover .transform__text-block__line {
  background-color: hsl(51, 100%, 49%);
}
/* Stand out section */
.standout__image {
  background: url(../images/mobile/image-stand-out.jpg);
}
.standout__text-block__title {
  color: hsl(212, 27%, 19%);
}
.standout__text-block__line {
  background-color: hsl(7, 100%, 90%);
}

.standout__text-block__link:hover .standout__text-block__line {
  background-color: hsl(7, 99%, 70%);
}
/* Graphic Design section and Photography section*/
.graphic {
  background: url(../images/mobile/image-graphic-design.jpg);
}
.graphic__text-block {
  color: hsl(167, 40%, 24%);
}
.graphic__text-block__text,
.photography__text-block__text {
  margin: 15px 0;
}
.photography {
  background: url(../images/mobile/image-photography.jpg);
}
.photography__text-block {
  color: hsl(198, 62%, 26%);
}
/* Main Section transform and standout same code, graphix design and phtography same code. Title class for all sections */
.main__image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.main__text-block {
  text-align: center;
  padding: 50px 25px;
}
.main__text-block__title {
  font-family: 'Fraunces', serif;
  font-size: 30px;
  font-weight: 900;
  margin: 25px 0;
}
.main__text-block__text {
  color: hsl(232, 10%, 55%);
  line-height: 1.5;
  margin: 20px 0;
}
.main__text-block__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 16px;
  color: hsl(212, 27%, 19%);
}
.main__text-block__line {
  z-index: -1;
  position: absolute;
  bottom: -3px;
  left: -10px;
  display: inline-block;
  height: 10px;
  width: 135px;
  border-radius: 10px;
}
.main__back-image {
  background-position: center;
  background-size: cover;
}
.main__text-block-two {
  font-size: 16px;
  padding: 400px 15px 50px;
  text-align: center;
  line-height: 1.5;
}
/* Testimonial section */
.testimonials {
  padding: 50px 25px 100px;
  text-align: center;
}
.testimonials__title {
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.25em;
}
.testimonials__block {
  margin: 50px 0 0 0;
}
.testimonials__block__image {
  border-radius: 50%;
  width: 20%;
  margin-bottom: 25px;
}
.testimonials__block__text {
  margin: 0 0 25px 0;
  color: hsl(213, 9%, 39%);
  line-height: 1.5;
}
.testimonials__block__author-block {
  display: flex;
  flex-direction: column;
}
.testimonials__block__author {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  margin-bottom: 10px;
}
.testimonials__block__job {
  color: hsl(210, 4%, 67%);
  font-size: 14px;
}
/* Gallery Section */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(187px, 1fr));
}
.gallery__first-image {
  background: no-repeat url(../images/mobile/image-gallery-milkbottles.jpg);
}
.gallery__second-image {
  background: no-repeat url(../images/mobile/image-gallery-orange.jpg);
}
.gallery__third-image {
  background: no-repeat url(../images/mobile/image-gallery-cone.jpg);
}
.gallery__fourth-image {
  background: no-repeat url(../images/mobile/image-gallery-sugar-cubes.jpg);
}
.gallery__image {
  background-size: cover;
  background-position: center;
  height: 187px;
}
/* Footer Section */
.footer {
  text-align: center;
  padding: 75px 30px;
  background: rgb(135, 201, 189);
}
.footer__logo {
  width: 50%;
  margin: auto;
}
.footer__logo img {
  width: 100%;
}
.footer__menu {
  margin: 40px 0 80px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer__menu__link {
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}
.footer__menu__link:hover,
.footer__menu__link:focus {
  color: #ffffff;
}
.footer__socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer__socials__item {
  margin: 0 15px 0;
}
.footer__socials__item svg:hover path,
.footer__socials__item a:focus svg path {
  fill: #ffffff;
}
/* Attribution section */
.attribution {
  margin-top: 25px;
  font-size: 11px;
  text-align: center;
  color: hsl(168, 34%, 41%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media all and (min-width: 768px) {
  /* Intro Section */
  .intro {
    background: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
  }
  .header {
    padding: 25px 50px 0;
  }
  .header__image {
    width: 120%;
  }
  .header__menu-button {
    display: none;
  }
  .header__navigation {
    display: block;
    position: initial;
    background: none;
  }
  .header__navigation__triangle {
    display: none;
  }
  .header__menu {
    display: flex;
  }
  .header__menu__item {
    margin-bottom: 0px;
    margin-left: 30px;
  }
  .header__menu__link {
    color: #ffffff;
  }
  .header__menu__contact-link {
    background: #ffffff;
    color: hsl(212, 27%, 19%);
  }
  .header__title {
    font-size: 58px;
    margin: 75px 0 100px;
  }
  /* Gallery Section */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .gallery__first-image {
    background: no-repeat url(../images/desktop/image-gallery-milkbottles.jpg);
  }
  .gallery__second-image {
    background: no-repeat url(../images/desktop/image-gallery-orange.jpg);
  }
  .gallery__third-image {
    background: no-repeat url(../images/desktop/image-gallery-cone.jpg);
  }
  .gallery__fourth-image {
    background: no-repeat url(../images/desktop/image-gallery-sugarcubes.jpg);
  }
  .gallery__image {
    background-size: cover;
    background-position: center;
    height: 450px;
  }
  /* Footer Section */
  .footer {
    padding: 75px 30px 25px;
  }
  .footer__logo {
    width: auto;
  }
  .footer__logo img {
    width: 15%;
  }
  .footer__menu {
    justify-content: center;
  }
  .footer__menu__item {
    margin: 0 30px;
  }
}
